header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0; left: 0; right: 0;
  background: white;
  padding: 24px 7vw;
  z-index: 1000;
}

.navbar {
  width: 80%;
}

.navbar ul .categories {
  margin: 0 auto;
  height: auto;
  width: 80%;
}

.navbar ul .external {
  width: 20%;
  float: right;
}

header .logo {
  width: 20%;
}

header .logo a {
  font-weight: 700;
  font-size: 25px;
  color: #333;
  white-space: nowrap;
}

header a {
  text-decoration: none;
  color: black;
  background: white;
  font-size: 19px;
  font-weight: 500;
}

.navbar ul {
  background: white;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navbar li {
  color: black;
  background: white;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}
  
.navbar li a {
  color: black;
}

.navbar li a:hover {
  color: red;
}

.navbar li:hover,
.navbar li:focus-within {
  background: white;
  cursor: pointer;
}

.navbar ul li ul {
  background: white;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
  padding: 0px 20px 20px 20px;
}

.navbar ul li:focus-within > ul,
.navbar ul li:hover > ul,
.navbar ul li ul:hover,
.navbar ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.navbar ul li ul li {
  clear: both;
  width: 150px;
}

.navbar ul li ul li a {
  font-weight: 600;
  font-size: 22px;
}


#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}


@media(max-width: 991px) {
  header {
    justify-content: space-between;
  }


  .navbar li {
    width: 100%;
    padding: 0 7vw;
    white-space: nowrap;
  }

  header label {
    display: initial;
    float: right;
  }

  header .navbar {
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #fff;
    display: none;
    padding-bottom: 24px;
    width: 100%;
    border-bottom: 1px solid black;
  }

  header .navbar ul li {
    width: 100%;
    padding-bottom: 22px;
  }

  header .navbar ul li a {
    font-size: 22px;
    font-weight: 700;
  }

  header .navbar ul li ul {
    padding: 5px 0 0 0;
    margin: 0;
    width: 100%;
    position: relative;
    visibility: visible;
    opacity: 1;
    display: block;
  }

  header .navbar ul li ul li {
    padding: 0 7%;
  }

  header .navbar ul li ul li a {
    font-size: 14px;
    font-weight: 400;
  }

  #menu-bar:checked ~ .navbar {
    display: initial;
  }

  .navbar ul .categories {
    margin: 0 ;
  }

  .navbar ul .external {
    float: none;
  }
}