header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  top: 0; left: 0; right: 0;
  background: white;
  /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); */
  padding: 24px 7%;
  z-index: 1000;
}

header .logo {
  font-weight: 700;
  font-size: 25px;
  color: #333;
}

header a {
  text-decoration: none;
  color: black;
  background: white;
  font-size: 19px;
  font-weight: 500;
}

.navbar ul {
  background: white;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.navbar li {
  color: black;
  background: white;
  display: block;
  float: left;
  padding: 1rem;
  position: relative;
  text-decoration: none;
}
  
.navbar li a {
  color: black;
}

.navbar li a:hover {
  color: red;
}

.navbar li:hover,
.navbar li:focus-within {
  background: white;
  cursor: pointer;
}

.navbar ul li ul {
  background: white;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  margin-top: 1rem;
  left: 0;
  display: none;
  padding: 0px 20px 20px 20px;
}

.navbar ul li:focus-within > ul,
.navbar ul li:hover > ul,
.navbar ul li ul:hover,
.navbar ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}

.navbar ul li ul li {
  clear: both;
  width: 150px;
}

.navbar ul li ul li a {
  font-weight: 600;
  font-size: 22px;
}


#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}


@media(max-width: 991px) {
  header {
    padding: 20px;
  }

  header label {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%; left: 0; right: 0;
    background: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}