.pagination {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 50px auto 0 auto;
  gap: 1rem;
}

.page-item {
  display: flex;
}

.page-item a {
  display: inline-flex;
  border: 1px solid rgb(209, 212, 219);
  color: rgb(62, 66, 75);
  height: 42px;
  width: 42px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  cursor: pointer;
  font-size: 14px !important;
}

.page-item:not( .active ) a:hover {
  color: rgb(255, 100, 45);
  border-color: rgb(255, 100, 45);
}

.page-item.active a {
  border-radius: 5px;
  opacity: 1;
  background-color: rgb(23, 26, 34);
  border-color: rgb(23, 26, 34);
  color: rgb(246, 247, 248);
}

.page-item.disabled {
  opacity: 0.8;
  pointer-events: none;
}