{{ define "main" }}

<body>
    {{ if .IsHome }}
      <div class="grid">
        {{ $paginator := .Paginate (where .Site.AllRegularPages "Section" "category") }}
        {{ range $paginator.Pages }}
            {{ partial "blog-card.html" . }}
        {{ end }}
      </div>
    {{ else }}
      {{ range .Sections }}
        {{ partial "section-card.html" . }}
      {{ end }}
      <div class="grid">
      {{ $paginator := .Paginate .RegularPagesRecursive }}
      {{ range $paginator.Pages }}
          {{ partial "blog-card.html" . }}
      {{ end }}
      </div>
    {{ end }}

    {{ template "_internal/pagination.html" . }}

</body>
{{ end }}