<div class="blog-container">
  <div class="blog-box">
    <div class="blog-img">
      <a href="{{ .Permalink }}"><img src="{{ .Params.cover.image }}"></a>
    </div>

    <div class="blog-text">
      <div class="card-meta">
        <span id="section-title"><a href="{{ .CurrentSection.Permalink }}">{{ .CurrentSection.Title }}</a></span>
        <span id="reading-time">{{ .ReadingTime }} min read</span>
      </div>
      <a id="blog-title" href="{{ .Permalink }}">{{.Title}}</a>
      <p id="summary">{{ .Summary }}</p>
      <span id="date">{{ .Params.date | time.Format ":date_medium" }} </span>
    </div>
  </div>
</div>